h1 {
  font-family: 'Cutive', serif;
  font-size: 10px;
  color: #6C6563;
  margin-top: 20px;
  margin-left: 20px;
}

hr {
  width: 40px;
  height: 3px;
  margin-left: 20px;
  background-color: #6C6563;

}

section {
  /*outline: 1px solid red;*/
  width: 425px;
  height: 285px;
  margin: 10px 10px 10px;

  }

  div {
  /*outline: 1px solid blue;*/
  width: 120px;
  height: 120px;
  margin: 10px 10px 10px 10px;
  float: left;
    }

img {

  /*outline: 1px solid yellow;*/
  width: 120px;
  height: 120px;
  position: absolute;

}

.nombres {
  /*outline: 1px solid green;*/
  width: 75px;
  height: 10px;
  position: absolute;
  font-family: 'Cutive', serif;
  font-size: 7.5px;
  color:white;
  font-weight: bold;
  padding-left:35px;
  padding-top: 90px;
}


}
